@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
body {
  font-family: "Raleway", sans-serif;
  margin: 0;
}
.main_div {
  position: relative;
}
img {
  position: absolute;
  border: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}
.main_name {
  color: aliceblue;
  position: absolute;
  padding-left: 31.25vw;
  font-size: 5vw;
  margin-top: 7vw;
}
.launch_date {
  color: aliceblue;
  position: absolute;
  padding-left: 41vw;
  padding-top: 15vw;
  font-size: 3vw;
}
